[REVIEW]: EdgeVPN.io: Seamless Software-defined Layer 2 Virtual Networking for Edge Computing

**Submitting author:** <!--author-handle-->@kcratie<!--end-author-handle--> (<a href="http://orcid.org/0000-0001-8248-2856">Kensworth Subratie</a>)
**Repository:** <!--target-repository-->https://github.com/EdgeVPNio/evio<!--end-target-repository-->
**Branch with paper.md** (empty if default branch): <!--branch-->joss<!--end-branch-->
**Version:** <!--version-->v24.1.2.1061<!--end-version-->
**Editor:** <!--editor-->@sneakers-the-rat<!--end-editor-->
**Reviewers:** <!--reviewers-list-->@abhishektiwari, @pradeeban<!--end-reviewers-list-->
**Archive:** <!--archive-->10.5281/zenodo.10655929<!--end-archive-->

## Status

[![status](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b/status.svg)](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b)

Status badge code:

```
HTML: <a href="https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b"><img src="https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b/status.svg"></a>
Markdown: [![status](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b/status.svg)](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b)
```
**Reviewers and authors**:

Please avoid lengthy details of difficulties in the review thread. Instead, please create a new issue in the <a href="https://github.com/EdgeVPNio/evio" target="_blank">target repository</a> and link to those issues (especially acceptance-blockers) by leaving comments in the review thread below. (For completists: if the target issue tracker is also on GitHub, linking the review thread in the issue or vice versa will create corresponding breadcrumb trails in the link target.)

## Reviewer instructions & questions

@abhishektiwari & @pradeeban, your review will be checklist based. Each of you will have a separate checklist that you should update when carrying out your review.
First of all you need to run this command in a separate comment to create the checklist:

```
@editorialbot generate my checklist
```

The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Any questions/concerns please let @sneakers-the-rat know.

✨ **Please start on your review when you are able, and be sure to complete your review in the next six weeks, at the very latest** ✨ 


## Checklists

<!--checklist-comments-->
<!--checklist-for-abhishektiwari-->
📝 [Checklist for @abhishektiwari](https://github.com/openjournals/joss-reviews/issues/6638#issuecomment-2060116537)
<!--end-checklist-for-abhishektiwari-->
<!--checklist-for-pradeeban-->
📝 [Checklist for @pradeeban](https://github.com/openjournals/joss-reviews/issues/6638#issuecomment-2062930052)
<!--end-checklist-for-pradeeban-->
<!--end-checklist-comments-->


Hello humans, I'm @editorialbot, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

```
@editorialbot commands
```

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

```
@editorialbot generate pdf
```


**Software report:**

```
github.com/AlDanial/cloc v 1.90  T=0.08 s (480.0 files/s, 162318.8 lines/s)
-------------------------------------------------------------------------------
Language                     files          blank        comment           code
-------------------------------------------------------------------------------
Python                          31           1121           1399           9945
TeX                              1              8              0            115
JSON                             2              0              0             94
Markdown                         3             35              0             72
Dockerfile                       1              4             17             39
-------------------------------------------------------------------------------
SUM:                            38           1168           1416          10265
-------------------------------------------------------------------------------
```

**Commit count by author**:

```
   124	Ken
    49	Ken Subratie
     4	Rajath Ganesh
     4	Vahid Daneshmand
     4	ken
     3	Prajwala
     1	Renato Figueiredo
     1	Saumitra Aditya
```



**Paper file info**:

📄 Wordcount for `paper.md` is **923**

✅ The paper includes a `Statement of need` section



**License info**:

✅ License found: `MIT License` (Valid open source [OSI approved](https://opensource.org/licenses) license)



```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

MISSING DOIs

- No DOI given, and none found for title: Symphony: Distributed Hashing in a Small World
- No DOI given, and none found for title: The cloud is not enough: Saving {IoT} from the clo...

INVALID DOIs

- None

```


:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.06638/joss.06638/10.21105.joss.06638.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.06638/joss.06638/10.21105.joss.06638.pdf) :page_facing_up: :point_left:

Hello @abhishektiwari and @pradeeban, thank you for agreeing to review this package!

As the top issue says, you'll be working from a checklist, a [set of guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), and some [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html).

## Goals of Review

The goal here is to collaboratively help this package reach a basic standard for usability, maintainability, and correctness - we are all friends here, there are no gates to be kept, we're just trying to learn from and help each other out. Feel free to talk amongst each other as peers in the issues related to this review. This is an open and iterative review, so you don't need to wait until you've reviewed everything before raising an issue or commenting - in fact its preferable to raise a comment early so that the authors have time to respond and make any requested changes while you're completing the rest of your review.

The checklist is a set of minimum standards that the package has to meet, but you are also free to read, comment, raise issues and pull requests, and do whatever else falls under your purview as a reviewer. Think about what you would want to have if you were a potential new user of the package - is the documentation clear? do the tests cover what they need to? etc. That kind of neutral third-party perspective is invaluable for making software accessible and maintainable.

## Process

As you review, please
- Raise issues in the repository and
- link back to this issue so that we can track issues related to this review. 

Since github issues don't have threading, this is how we can keep discussion organized, because commenting in this issue can be a bit messy. Don't be shy commenting here to ask questions about the review itself, though! 

It's up to you all and the maintainers if you want to follow any sort of naming convention for issues/PRs - authors please comment here about any preferences you have for raised issues. I would recommend at least tagging issues by general topic areas - `[docs]`, `[tests]`, `[bug]`, etc. and also if the reviewers would indicate if a review is a `[question]`, `[suggestion]` or a `[blocker]` for the review so the authors know if a given issue needs some fix in order for the review to be completed. 

Other than that, i'll be here so feel free to ask questions! The first thing you'll want to do is generate your checklists using the commands in the OP comment


@editorialbot generate my checklist

@editorialbot generate my checklist

@kcratie Please see my initial comments,

1. Can you clarify what repositories under `https://github.com/EdgeVPNio` are under the scope for this paper? Repository linked to this submission is [evio](https://github.com/EdgeVPNio/evio). Paper itself mentions two repositories [evio](https://github.com/EdgeVPNio/evio) and [tincan](https://github.com/EdgeVPNio/tincan), but there are other complimentary repositories like [portal](https://github.com/EdgeVPNio/portal), [tools](https://github.com/EdgeVPNio/tools), etc.

2. Also can you provide temporary XMPP/TURN/STUN accounts to reviewers to help us bootstrap Evio overlay? I would avoid my spending my time and money to install and run XMPP/TURN/STUN on AWS just to verify the software claims.

Tagging @sneakers-the-rat for visibility. 

Yes correct @abhishektiwari it is the responsibility of the authors to make sure you have what you need to complete the review - @kcratie any guidance on setting up a development/testing environment?

Thanks, folks!
Regarding temporary XMPP/TURN accounts, we had provided a zip file as part of the submission, but you can also request trial accounts using the form linked from here:
https://edgevpn.io/trial/

Thanks @renatof 

Did you say zip file? Where can I find it?

Can you please also confirm repositories covered by the paper?

> @kcratie Please see my initial comments,
> 
> 1. Can you clarify what repositories under `https://github.com/EdgeVPNio` are under the scope for this paper? Repository linked to this submission is [evio](https://github.com/EdgeVPNio/evio). Paper itself mentions two repositories [evio](https://github.com/EdgeVPNio/evio) and [tincan](https://github.com/EdgeVPNio/tincan), but there are other complimentary repositories like [portal](https://github.com/EdgeVPNio/portal), [tools](https://github.com/EdgeVPNio/tools), etc.
> 2. Also can you provide temporary XMPP/TURN/STUN accounts to reviewers to help us bootstrap Evio overlay? I would avoid spending my time and money to install and run XMPP/TURN/STUN on AWS just to verify the software claims.
> 
> Tagging @sneakers-the-rat for visibility.

Folks, our answers below:
1. confirming that the only repositories under the scope of the paper are evio and tincan
2. attaching a zip file here [JOS1.zip](https://github.com/openjournals/joss-reviews/files/15171435/JOS1.zip) with 5 configuration files for trial accounts that can be used for testing as per requested. 
Instructions for running Evio with Docker using these accounts are available [here](https://edgevpn.io/trial/)


Thank you @renatof - reviewers please let me know if there are still difficulties. If there is some lack of clarity in the documentation that the reviewers feel like would hinder normal use, they should feel free to describe what difficulties they had and make suggestions to improve onboarding/make it more obvious how to use the tool. Thats part of the goal of the review! To give an external perspective on things that might be hard for people close to the project to see as potential barriers.

Checking in - do the reviewers need anything from me or the authors? no rush :)

Unfortunately, I do not have two Linux computers (x86/amd64 or arm64-based) running Ubuntu 20.04 or later. 

Testing the functionality of this product appears to be an involved process, and I am afraid I will not be able to verify the below two aspects satisfactorily. I have confirmed that everything else is perfectly in order, though. I would like to end my review with this note so that you will be able to find another reviewer who can indeed confirm the functionality on the below aspects:

* Installation: Does installation proceed as outlined in the documentation?
* Functionality: Have the functional claims of the software been confirmed?

Thank you for letting us know. yes having two Linux PCs is a bit more than the typical expectations of a reviewer, let me check with the EIC re: how to handle this and I'll get back to you

Thanks for the updates, folks - requiring two computers is indeed a bit more than the typical expectation, and while an ideal scenario for testing would be two separate computers, another possibility is to test on two VMs on the same host.

@sneakers-the-rat - is there any update on the EdgeVPN review? How can we help move things along?

@kcratie 

I spent a few hours trying to install and run the software using Ubuntu Multipass to create 2 VMs with `XMPP/TURN/STUN` accounts provided above but no luck using [instructions here](https://edgevpn.io/trial/). Is it possible that `XMPP/TURN/STUN accounts` accounts and trial overlay shared with us are expired? 

On VMs/containers I just don't see any network connectivity on ping to `trial.edgevpn.io`. It seems overlay has been down for sometime. 

```
ping trial.edgevpn.io
PING trial.edgevpn.io (54.71.171.66): 56 data bytes
Request timeout for icmp_seq 0
Request timeout for icmp_seq 1
Request timeout for icmp_seq 2
Request timeout for icmp_seq 3
Request timeout for icmp_seq 4
```

Also provide more detailed instruction here on how to [activate Open vSwitch module](https://edgevpn.io/trial/).

> Ubuntu 22.04 you may need to install extra kernel modules and/or ensure Open vSwitch module is enabled. 

@sneakers-the-rat I this point I have spent too much of my time trying to install and run the software but author's have made very difficult to even run and test without spending a few days of effort. Unless authors provide a fully tested step-by-step guide, I don't know how any reviewer can work with half baked instructions to validate functional claims of the software. 

@kcratie Latest update.

Ok, after re-installing everything from scratch then activating Open vSwitch module on Ubuntu 22.04. I do see node ping working as described. 

```
ubuntu@primary:~/.evio$ ping 10.10.100.2
PING 10.10.100.2 (10.10.100.2) 56(84) bytes of data.
64 bytes from 10.10.100.2: icmp_seq=1 ttl=64 time=26.1 ms
64 bytes from 10.10.100.2: icmp_seq=2 ttl=64 time=1.69 ms
64 bytes from 10.10.100.2: icmp_seq=3 ttl=64 time=2.10 ms
64 bytes from 10.10.100.2: icmp_seq=4 ttl=64 time=3.59 ms
64 bytes from 10.10.100.2: icmp_seq=5 ttl=64 time=2.35 ms
64 bytes from 10.10.100.2: icmp_seq=6 ttl=64 time=1.27 ms
64 bytes from 10.10.100.2: icmp_seq=7 ttl=64 time=2.56 ms
64 bytes from 10.10.100.2: icmp_seq=8 ttl=64 time=2.24 ms
64 bytes from 10.10.100.2: icmp_seq=9 ttl=64 time=2.54 ms
64 bytes from 10.10.100.2: icmp_seq=10 ttl=64 time=2.08 ms
64 bytes from 10.10.100.2: icmp_seq=11 ttl=64 time=2.43 ms
64 bytes from 10.10.100.2: icmp_seq=12 ttl=64 time=3.39 ms
64 bytes from 10.10.100.2: icmp_seq=13 ttl=64 time=2.30 ms
64 bytes from 10.10.100.2: icmp_seq=14 ttl=64 time=2.59 ms
64 bytes from 10.10.100.2: icmp_seq=15 ttl=64 time=6.06 ms
64 bytes from 10.10.100.2: icmp_seq=16 ttl=64 time=3.45 ms
^C
--- 10.10.100.2 ping statistics ---
16 packets transmitted, 16 received, 0% packet loss, time 15687ms
rtt min/avg/max/mdev = 1.270/4.171/26.125/5.764 ms
```

```
ubuntu@secondry:~/.evio$ ping 10.10.100.1
PING 10.10.100.1 (10.10.100.1) 56(84) bytes of data.
64 bytes from 10.10.100.1: icmp_seq=1 ttl=64 time=2.30 ms
64 bytes from 10.10.100.1: icmp_seq=2 ttl=64 time=2.42 ms
64 bytes from 10.10.100.1: icmp_seq=3 ttl=64 time=3.21 ms
64 bytes from 10.10.100.1: icmp_seq=4 ttl=64 time=2.62 ms
64 bytes from 10.10.100.1: icmp_seq=5 ttl=64 time=2.41 ms
64 bytes from 10.10.100.1: icmp_seq=6 ttl=64 time=2.15 ms
64 bytes from 10.10.100.1: icmp_seq=7 ttl=64 time=4.02 ms
64 bytes from 10.10.100.1: icmp_seq=8 ttl=64 time=2.62 ms
64 bytes from 10.10.100.1: icmp_seq=9 ttl=64 time=2.29 ms
64 bytes from 10.10.100.1: icmp_seq=10 ttl=64 time=1.22 ms
^C
--- 10.10.100.1 ping statistics ---
10 packets transmitted, 10 received, 0% packet loss, time 9364ms
rtt min/avg/max/mdev = 1.220/2.524/4.015/0.684 ms
```

I was also able to validate the Turn is up and running,

```
nmap -p 3478 trial.edgevpn.io
Starting Nmap 7.94 ( https://nmap.org ) at 2024-07-14 08:54 AEST
Nmap scan report for trial.edgevpn.io (54.71.171.66)
Host is up (0.18s latency).
rDNS record for 54.71.171.66: ec2-54-71-171-66.us-west-2.compute.amazonaws.com

PORT     STATE SERVICE
3478/tcp open  stun

Nmap done: 1 IP address (1 host up) scanned in 0.60 seconds
```

@sneakers-the-rat Marked my reviewer checklist completed and recommend accepting this paper subjected to authors updating the installation instructions as mentioned on [ticket here](https://github.com/EdgeVPNio/evio/issues/33).

@abhishektiwari thank you for your time and effort and reviewing our software - we sincerely appreciate it. We will update the Open vSwitch installation instructions and add a comment to the ticket you opened when it's ready.

Hi folks - we did update the Ubuntu 22.04 instructions as [per this ticket](https://github.com/EdgeVPNio/evio/issues/33). Please let us know if there's anything else on our end that needs to be done? Thank you!

@renatof Looks good to me.

my apologies for the delay on my end - i'll get back to work on this tomorrow. thanks for the reminder :)

OK thanks for waiting. 
It seems like @abhishektiwari was able to validate the two parts that @pradeeban was not able to complete, so that looks good to me. If both reviewers are satisfied then I will begin final editorial checks :)

@editorialbot create post-review checklist

If @kcratie or @renatof could handle the steps above re: making a release, archiving, and posting the version number and DOI here, that would be great :)

@editorialbot generate pdf

:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.06638/joss.06638/10.21105.joss.06638.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.06638/joss.06638/10.21105.joss.06638.pdf) :page_facing_up: :point_left:

@editorialbot check references

```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

MISSING DOIs

- No DOI given, and none found for title: Symphony: Distributed Hashing in a Small World
- No DOI given, and none found for title: The cloud is not enough: Saving {IoT} from the clo...

INVALID DOIs

- None

```


could the authors please add a DOI to the Symphony citation ( 10.5555/1251460.1251470 ) and a URL for "the cloud is not enough" (looks like it's this: https://www.usenix.org/conference/hotcloud15/workshop-program/presentation/zhang ) 

EdgeVPN:
    Release: https://github.com/EdgeVPNio/evio/releases/tag/v24.1.2.1061
    Zenodo: https://zenodo.org/records/10655929
    DOI: https://doi.org/10.5281/zenodo.10655929

Symphony: https://dl.acm.org/doi/10.5555/1251460.1251470
The cloud is not enough: https://dl.acm.org/doi/10.5555/2827719.2827740

@editorialbot set 10.5281/zenodo.10655929 as archive

Done! archive is now [10.5281/zenodo.10655929](https://doi.org/10.5281/zenodo.10655929)

@editorialbot set v24.1.2.1061 as version

Done! version is now v24.1.2.1061

great once https://github.com/EdgeVPNio/evio/pull/34 happens i think we'll be good to go :)

thanks so much, @sneakers-the-rat! 
I've merged that PR; anything else we need to do on our end?

@editorialbot check references

```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

MISSING DOIs

- None

INVALID DOIs

- 10.5555/1251460.1251470 is INVALID
- 10.5555/2827719.2827740 is INVALID

```


huh, so those are the DOIs listed by the publisher, but they aren't dereferencing through the DOI system. let me ask EICs what to do about that...

@editorialbot check references

```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

✅ OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

🟡 SKIP DOIs

- None

❌ MISSING DOIs

- None

❌ INVALID DOIs

- 10.5555/1251460.1251470 is INVALID - 10.5555 is a known broken prefix, replace with https://dl.acm.org/doi/{doi} in the {url} field
- 10.5555/2827719.2827740 is INVALID - 10.5555 is a known broken prefix, replace with https://dl.acm.org/doi/{doi} in the {url} field

```


Ok! Sorry for the double-take on the references, I asked what to do with the ACM citations and apparently they are a known problem, so we updated the reference checker: https://github.com/openjournals/buffy/pull/106

Ill make another PR to switch those overs to URLs in a moment (or you can change, whoever gets to it first) and then we should be good to go! Thanks for bearing with me on this little technicality

@editorialbot check references

```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

✅ OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

🟡 SKIP DOIs

- https://dl.acm.org/doi/10.5555/1251460.1251470 - correctly put 10.5555 prefixed doi in the url field, editor should ensure this resolves
- https://dl.acm.org/doi/10.5555/2827719.2827740 - correctly put 10.5555 prefixed doi in the url field, editor should ensure this resolves

❌ MISSING DOIs

- None

❌ INVALID DOIs

- None

```


@editorialbot recommend-accept

```
Attempting dry run of processing paper acceptance...
```

```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

✅ OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

🟡 SKIP DOIs

- https://dl.acm.org/doi/10.5555/1251460.1251470 - correctly put 10.5555 prefixed doi in the url field, editor should ensure this resolves
- https://dl.acm.org/doi/10.5555/2827719.2827740 - correctly put 10.5555 prefixed doi in the url field, editor should ensure this resolves

❌ MISSING DOIs

- None

❌ INVALID DOIs

- None

```


:wave: @openjournals/csism-eics, this paper is ready to be accepted and published.

Check final proof :point_right::page_facing_up: [Download article](https://raw.githubusercontent.com/openjournals/joss-papers/joss.06638/joss.06638/10.21105.joss.06638.pdf)

If the paper PDF and the deposit XML files look good in https://github.com/openjournals/joss-papers/pull/5790, then you can now move forward with accepting the submission by compiling again with the command `@editorialbot accept`

@kcratie - As track editor, I'll next proofread this and provide further instructions if needed.

👋 @kcratie - note that I'm waiting for you on this...

@editorialbot recommend-accept

```
Attempting dry run of processing paper acceptance...
```

```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

✅ OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

🟡 SKIP DOIs

- https://dl.acm.org/doi/10.5555/1251460.1251470 - correctly put 10.5555 prefixed doi in the url field, editor should ensure this resolves
- https://dl.acm.org/doi/10.5555/2827719.2827740 - correctly put 10.5555 prefixed doi in the url field, editor should ensure this resolves

❌ MISSING DOIs

- None

❌ INVALID DOIs

- None

```


:wave: @openjournals/csism-eics, this paper is ready to be accepted and published.

Check final proof :point_right::page_facing_up: [Download article](https://raw.githubusercontent.com/openjournals/joss-papers/joss.06638/joss.06638/10.21105.joss.06638.pdf)

If the paper PDF and the deposit XML files look good in https://github.com/openjournals/joss-papers/pull/5817, then you can now move forward with accepting the submission by compiling again with the command `@editorialbot accept`

The submission looks good now, so once the Zenodo metadata is changed, we can accept and publish


> 👋 @kcratie - note that I'm waiting for you on this...

@danielskatz - The Zenodo title has been updated to match the paper's title.

@editorialbot accept

```
Doing it live! Attempting automated processing of paper acceptance...
```

**Ensure proper citation** by uploading a plain text CITATION.cff file to the default branch of your repository.

If using GitHub, a *Cite this repository* menu will appear in the About section, containing both APA and BibTeX formats. When exported to Zotero using a browser plugin, Zotero will automatically create an entry using the information contained in the .cff file.

You can copy the contents for your CITATION.cff file here:

<details><summary><strong>CITATION.cff</strong></summary>
<p>

```
cff-version: "1.2.0"
authors:
- family-names: Subratie
  given-names: Kensworth
  orcid: "https://orcid.org/0000-0001-8248-2856"
- family-names: Figueiredo
  given-names: Renato
  orcid: "https://orcid.org/0000-0001-9841-6060"
doi: 10.5281/zenodo.10655929
message: If you use this software, please cite our article in the
  Journal of Open Source Software.
preferred-citation:
  authors:
  - family-names: Subratie
    given-names: Kensworth
    orcid: "https://orcid.org/0000-0001-8248-2856"
  - family-names: Figueiredo
    given-names: Renato
    orcid: "https://orcid.org/0000-0001-9841-6060"
  date-published: 2024-08-26
  doi: 10.21105/joss.06638
  issn: 2475-9066
  issue: 100
  journal: Journal of Open Source Software
  publisher:
    name: Open Journals
  start: 6638
  title: "EdgeVPN.io: Seamless Software-defined Layer 2 Virtual
    Networking for Edge Computing"
  type: article
  url: "https://joss.theoj.org/papers/10.21105/joss.06638"
  volume: 9
title: "EdgeVPN.io: Seamless Software-defined Layer 2 Virtual Networking
  for Edge Computing"

```

</p>
</details>

If the repository is not hosted on GitHub, a .cff file can still be uploaded to set your preferred citation. Users will be able to manually copy and paste the citation.

Find more information on .cff files [here](https://github.com/citation-file-format/citation-file-format/blob/main/README.md) and [here](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files).


🐘🐘🐘 👉 [Toot for this paper](https://fosstodon.org/@joss/113030174538122379) 👈 🐘🐘🐘

🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/5818
1. Wait five minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.06638](https://doi.org/10.21105/joss.06638)
2. If everything looks good, then close this review issue.
3. Party like you just published a paper! 🎉🌈🦄💃👻🤘

Any issues? Notify your editorial technical team...

Congratulations to @kcratie (Kensworth Subratie) and @renatof on your publication!!

And thanks to @abhishektiwari and @pradeeban for reviewing, and to @sneakers-the-rat for editing!
JOSS is dependent on its volunteers, and we couldn't succeed without you

:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

```
Markdown:
[![DOI](https://joss.theoj.org/papers/10.21105/joss.06638/status.svg)](https://doi.org/10.21105/joss.06638)

HTML:
<a style="border-width:0" href="https://doi.org/10.21105/joss.06638">
  <img src="https://joss.theoj.org/papers/10.21105/joss.06638/status.svg" alt="DOI badge" >
</a>

reStructuredText:
.. image:: https://joss.theoj.org/papers/10.21105/joss.06638/status.svg
   :target: https://doi.org/10.21105/joss.06638
```
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.06638/status.svg)](https://doi.org/10.21105/joss.06638)

**We need your help!**

The Journal of Open Source Software is a community-run journal and relies upon volunteer effort. If you'd like to support us please consider doing either one (or both) of the the following:

- Volunteering to review for us sometime in the future. You can add your name to the reviewer list here: https://reviewers.joss.theoj.org/join
- Making a small donation to support our running costs here: https://numfocus.org/donate-to-joss
