[PRE REVIEW]: EdgeVPN.io: Seamless Software-defined Layer 2 Virtual Networking for Edge Computing

**Submitting author:** <!--author-handle-->@kcratie<!--end-author-handle--> (<a href="http://orcid.org/0000-0001-8248-2856">Kensworth Subratie</a>)
**Repository:** <!--target-repository-->https://github.com/EdgeVPNio/evio<!--end-target-repository-->
**Branch with paper.md** (empty if default branch): <!--branch-->joss<!--end-branch-->
**Version:** <!--version-->v24.1.2.1061<!--end-version-->
**Editor:** <!--editor-->@sneakers-the-rat<!--end-editor-->
**Reviewers:** <!--reviewers-list-->@abhishektiwari, @pradeeban<!--end-reviewers-list-->
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b/status.svg)](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b)

Status badge code:

```
HTML: <a href="https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b"><img src="https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b/status.svg"></a>
Markdown: [![status](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b/status.svg)](https://joss.theoj.org/papers/620c2eca789349609e694fe8dc26988b)
```

**Author instructions**

Thanks for submitting your paper to JOSS @kcratie. **Currently, there isn't a JOSS editor assigned** to your paper.

@kcratie if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). You can search [the list of people](https://reviewers.joss.theoj.org/lookup) that have already agreed to review and may be suitable for this submission.

**Editor instructions**

The JOSS submission bot @editorialbot is here to help you find and assign reviewers and start the main review. To find out what @editorialbot can do for you type:

```
@editorialbot commands
```


Hello human, I'm @editorialbot, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

```
@editorialbot commands
```

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

```
@editorialbot generate pdf
```


```
Software report:

github.com/AlDanial/cloc v 1.88  T=0.22 s (168.8 files/s, 58337.7 lines/s)
-------------------------------------------------------------------------------
Language                     files          blank        comment           code
-------------------------------------------------------------------------------
Python                          31           1121           1399           9945
TeX                              1              8              0            115
JSON                             2              0              0             94
Markdown                         3             35              0             69
-------------------------------------------------------------------------------
SUM:                            37           1164           1399          10223
-------------------------------------------------------------------------------


gitinspector failed to run statistical information for the repository
```

```
Reference check summary (note 'MISSING' DOIs are suggestions that need verification):

OK DOIs

- 10.5281/zenodo.10655929 is OK
- 10.1016/j.future.2022.10.007 is OK
- 10.17487/RFC3920 is OK
- 10.1145/1355734.1355746 is OK
- 10.17487/RFC7047 is OK
- 10.17487/RFC8926 is OK
- 10.17487/RFC5245 is OK

MISSING DOIs

- None

INVALID DOIs

- None
```


:warning: [An error happened when generating the pdf](https://github.com/openjournals/joss-papers/actions/runs/7909280321?check_suite_focus=true). 

Note: authors' note with submission includes:

>The EdgeVPNio (aka Evio) is based on the work "EdgeVPN: Self-organizing layer-2 virtual edge networks", previously published in the journal Future Generation Computer Systems Volume 140, https://www.sciencedirect.com/science/article/pii/S0167739X22003235/. Succinctly, Evio is a software-defined peer VPN that enables virtual private Ethernet networks that span edge and cloud resources. To demonstrate Evio's functionality, 2 or more Ubuntu 22.04 systems and credentials on a bootstrapping XMPP server are required. The authors have hosted accounts on their development infrastructure for the reviewers' convenience. See the encrypted [...]. Decrypt with [...] in the same repo folder as the paper. Detailed instructions are available at https://edgevpn.io/trial/.

👋 @kcratie - thanks for your submission.

In addition to the paper generation issue, I have a number of concerns:

1. JOSS is for open source software. No one should need a password to access the software or use it.

2. The FGCS paper was published between 11 and 18 months ago, depending on if you count acceptance or print publication. Given this, I'm unsure about how another publication at this point makes sense.

Can you explain your thinking on these two issues?

Regarding the paper compilation error, please see the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and note that you can click on the error above to find out more about it. In this case, you are not correctly defining affiliations in the paper header. Please feel free to make changes to your .md file, then use the command `@editorialbot generate pdf` to try to make a new PDF. editorialbot commands need to be the first entry in a new comment.

@editorialbot generate pdf

:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.06355/joss.06355/10.21105.joss.06355.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.06355/joss.06355/10.21105.joss.06355.pdf) :page_facing_up: :point_left:

**Five most similar historical JOSS papers:**

[Open OnDemand: A web-based client portal for HPC centers](https://github.com/openjournals/joss-reviews/issues/622)
Submitting author: ```@ericfranz```
Handling editor: ```@danielskatz (Active)```
Reviewers: ```@marpierc, @smgallo```
Similarity score: 0.7940

[TUM Open Infra Platform: an open source package for simultaneous viewing and analysis of digital models in the civil engineering domain](https://github.com/openjournals/joss-reviews/issues/3061)
Submitting author: ```@pjanck```
Handling editor: ```@hugoledoux (Active)```
Reviewers: ```@aothms, @CBenghi, @abdoulayediak```
Similarity score: 0.7863

[VCC: A framework for building containerized reproducible cluster software environments](https://github.com/openjournals/joss-reviews/issues/208)
Submitting author: ```@joshiggins```
Handling editor: ```@pjotrp (Retired)```
Reviewers: ```@brainstorm```
Similarity score: 0.7840

[COINSTAC: Collaborative Informatics and Neuroimaging Suite Toolkit for Anonymous Computation](https://github.com/openjournals/joss-reviews/issues/2166)
Submitting author: ```@hvgazula```
Handling editor: ```@cMadan (Active)```
Reviewers: ```@gkiar, @yarikoptic```
Similarity score: 0.7828

[DARE Platform: a Developer-Friendly and Self-Optimising Workflows-as-a-Service Framework for e-Science on the Cloud](https://github.com/openjournals/joss-reviews/issues/2664)
Submitting author: ```@iaklampanos```
Handling editor: ```@danielskatz (Active)```
Reviewers: ```@rafaelfsilva, @Himscipy```
Similarity score: 0.7822


⚠️ **Note to editors:** If these papers look like they might be a good match, click through to the review issue for that paper and invite one or more of the authors *before* considering asking the reviewers of these papers to review again for JOSS.

@danielskatz - Thanks for your feedback. In response to your concerns, (1) The software source code and release package are both open source and freely available. Running Evio requires external services for authentication and signaling, and there are open-source solutions for this, e.g., Openfire or ejabberd. Anyone can host their own and independently run Evio. We have hosted this service as a convenience to the JOSS reviewers for demonstrating Evio, and the encrypted archive contains the configuration files for accessing our hosted services. Instructions for doing this yourself are available [here](https://edgevpn.io/documentation/).
(2) The journal publication focuses on the theoretical aspects, design, and evaluation of Evio. Our intent for the JOSS publication is to describe the most recent version of the software implementation, its capabilities, and potential use cases. 

> 👋 @kcratie - thanks for your submission.
> 
> In addition to the paper generation issue, I have a number of concerns:
> 
> 1. JOSS is for open source software. No one should need a password to access the software or use it.
> 2. The FGCS paper was published between 11 and 18 months ago, depending on if you count acceptance or print publication. Given this, I'm unsure about how another publication at this point makes sense.
> 
> Can you explain your thinking on these two issues?



Thanks @kcratie - I'm going to ask the JOSS editors to review this to check if this is suitable for JOSS review. You should hear back in a week or two

@editorialbot query scope

Submission flagged for editorial review.

@kcratie - Thanks for your patience. We've decided this is in-scope, and had an editor volunteer to handle it, so I'm going to assign it and we'll get the process started.

@editorialbot assign @sneakers-the-rat as editor

Thanks for volunteering to do this in the scope discussion

Assigned! @sneakers-the-rat is now the editor

Fabulous, i'll get started with editorial checks monday :)

Sorry for the delay, on my calendar for tomorrow

Aha sorry, i had mixed up pyopensci with JOSS, where we do have additional editorial checks before seeking reviewers, my mistake!

I have reached out to a few p2p networking people privately, but they said to look for others and they may be available as alternates. Just posted on the fediverse seeking reviewers there.

Taking a random sample of the reviewer database for people with 'distributed systems' in their keywords, i see @arnavdas88 , @achanda , @pradeeban , @TA3 , and @imw as potential reviewers - are any of you interested?

The title sounds very promising to me. But I am traveling and not available for a week. I can do Wednesday, April 3rd onwards. If that is ok, please count me in.

@sneakers-the-rat Open to be an additional reviewer on this paper. 

@pradeeban no hurry, if you'd like to review we can certainly wait a week! shall i add you as a reviewer?

@abhishektiwari excellent, i'll add you now :)

@editorialbot add @abhishektiwari as reviewer

@abhishektiwari added to the reviewers list!

> @pradeeban no hurry, if you'd like to review we can certainly wait a week! shall i add you as a reviewer?
> 
> 
> 
> @abhishektiwari excellent, i'll add you now :)

Yes, pls add me.

@sneakers-the-rat - it looks like you could add @pradeeban at this point and start the review?

Apologies, i am on the road through the end of the week and am just getting a few minutes at the keyboard - let's start the review!

@editorialbot add @pradeeban as reviewer

@pradeeban added to the reviewers list!

@editorialbot start review

OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/6638.
